# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# --- Visual Studio Code ---
.vscode/
*.code-workspace

# --- File di sistema (opzionale ma consigliato) ---
.DS_Store
Thumbs.db

# mie cartelle
data_examples/
funes/Storage/saved_data/

# api keys
Scripts/AIM/llm/api_key.txt
.env

# egg
*.egg-info/

__pycache__/
*.pyc
.env
.venv
.vscode